 .page__sidebar-navigation-col {
    overflow: hidden;
    display: block;
}

.page__sidebar-navigation-body {
    height: 0;
    opacity: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}



/* .page__sidebar-navigation-body:not(._showed) {
    animation-duration: 0.5s;
    animation-name: animation_to;
    animation-fill-mode: backwards, forwards;
    animation-direction:reverse;
} */

.page__sidebar-navigation-body._showed {
    animation-duration: 0.5s;
    animation-name: animation_to;
    animation-fill-mode: forwards, backwards;
}

@keyframes animation_to {
    0% {
        height: 0;
        opacity: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    100% {
        height: 100%;
        opacity: 1; 
        padding-top: 16px;
        padding-bottom: 16px;
    }  
}

.filter_controll {
    width:100%
}

.filter_controll .btn{
    margin-bottom: 20px;
}